

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
background-image: url("../img/010101.jpg") ; 
    background-color: #e6f2ff;
}
h1 {
    background-color:#0000FF;
}
p {
    background-color: #cce5ff;
}
}
#imagetoslide{
	.responsive-image {
                          height: auto;
                          width: 100%;
	
}
#rightArrow{

}


div {
    background: rgba(76, 175, 80, 0.3) /* Green background with 30% opacity */
}



opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}