

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
background-image: url("../img/010101.jpg") ; 
    background-color: #e6f2ff;
}
h1 {
    background-color:#0000FF;
}
p {
    background-color: #cce5ff;
}

#rightarrowcontainer{
text-align: right;

}

